.config/sublime-text-3/Packages/User/.SublimeREPLHistory
.config/sublime-text-3/Packages/User/oscrypto-ca-bundle.crt
".config/sublime-text-3/Packages/User/Package Control.cache"
".config/sublime-text-3/Packages/User/Package Control.last-run"
".config/sublime-text-3/Packages/User/Package Control.merged-ca-bundle"
".config/sublime-text-3/Packages/User/Package Control.sublime-settings"
".config/sublime-text-3/Packages/User/Package Control.user-ca-bundle"
".config/sublime-text-3/Packages/User/Package Syncing.last-run"
".config/sublime-text-3/Packages/User/Package Syncing.sublime-settings"
.config/sublime-text-3/Packages/User/PackageSync-lastrun
.config/sublime-text-3/Packages/User/PackageSync-lastrun
.mutt.d/accounts/work/cache/*
.mutt.d/accounts/personal/cache/*
.mutt.d/tmp/*
.vim/plugins/*
.config/fish/fish_history
.config/fish/fish.*
.config/fish/tags
